#confirm {
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);

    display: none; /* default hidden */
}

/* #confirm.active {
   
} */
    